{% extends "layout.njk" %}

{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Conteúdo</title>
{% endblock %}

{% block links %}
    <a class="link" href="/sobre" target="blank">SOBRE</a>
    <a class="link_selected" href="/conteudo" target="_blank">CONTEÚDOS</a>
    <a class="link" href="https://discordapp.com/invite/gCRAFhc" target="blank">COMUNIDADE</a>
    <a class="link" href="mailto:oi@rocketseat.com.br" title="Mande um e-mail">E-MAIL</a>
    <a class="link" href="tel:+5547992078767" title="Você também pode ligar">TELEFONE</a>
    {% endblock%}

    {% block content %}

        <section class="cards">

         {% for item in items %}
            <div class="card" id="{{item.id}}">

                <div class="card_image_container">
                    <img src="/{{item.id}}.svg" alt="logo curso {{item.id}}">

                </div>
                <div class="card_content">
                    <p>{{item.title}}</p>

                </div>
                <div class="card_info">
                    <p>
                        {{item.duration}}</p>
                    <p class="card_price">{{item.price}}</p>

                </div>

            </div>

        {% endfor %}
      
        </section>
        <div class="modal-overlay">
            <div class="modal">
                <a class="close-modal">

                    <i class="material-icons">close</i>
                </a>
                <a class="maximize-modal">
                    <i class="material-icons">maximize</i>

                </a>
                <div class="modal-content">
                    <iframe src="" frameborder="0"></iframe>

                </div>

            </div>

        </div>

        <script src="/scripts.js"></script>

    {% endblock %}