{% extends "layout.njk" %}

{% block head %}
    <title>{{item.id}}</title>
{% endblock %}

{% block content %}
    <section class="courses">

        <div class="card_course">

            <div class="card_course_container">
                <iframe src="https://rocketseat.com.br/{{id}}" frameborder="0"></iframe>

            </div>

        </div>

    </div>

</section>
{% endblock %}