{% extends "layout.njk" %}



{% block content %}

<main>
    <div class="container">

        <div class="home">

            <h2>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h2>

            <img src="/trofeu-home.svg" alt="Rocketseat">

        </div>
    </div>
</main>

{% endblock %}