{% extends "layout.njk" %}

{% block head %}
    <title>Página não econtrada</title>
{% endblock %}

{% block content %}

    <main>
        <div class="container">

            <div class="home_notfound">

                <h2>Desculpe!!</h2>
                <h2>Página não encontrada</h2>
                <img src="/page-not-found.svg" alt="">

            </div>
        </div>
    </main>

{% endblock %}