{% extends "layout.njk" %}

{% block head %}
    <title>Sobre</title>
{% endblock %}

{% block links %}
    <a class="link_selected" href="/sobre" target="blank">SOBRE</a>
    <a class="link" href="/conteudo" target="_blank">CONTEÚDOS</a>
    <a class="link" href="https://discordapp.com/invite/gCRAFhc" target="blank">COMUNIDADE</a>
    <a class="link" href="mailto:oi@rocketseat.com.br" title="Mande um e-mail">E-MAIL</a>
    <a class="link" href="tel:+5547992078767" title="Você também pode ligar">TELEFONE</a>
    {% endblock%}

    {% block content %}

</ul>

<main>
    <div class="about">
        <img src="/sobrenovo.png" alt="Rocketseat Sobre">
    </div>
    <ul>
        <h2>ROCKETSEAT</h2>
        <p>No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias,</p>
        <p>você precisa de alguém que te leve na direção certa.</p>
        <h2>NOSSAS TÉCNOLOGIAS</h2>
        <li>JS</li>
        <li>ES6</li>
        <li>NodeJS</li>
        <li>ReactJS</li>
        <li>React Native</li>

    </ul>

    <div class="footer">

        <a class="link_unselected" href="https://github.com/Rocketseat" target="_blank">GitHub</a>
        <a class="link_unselected" href="http://instagram.com/rocketseat_oficial" target="_blank">Instagram</a>
        <a class="link_unselected" href="http://fb.com/rocketseat" target="_blank">Facebook</a>
    </div>
</main>

{% endblock %}